@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.container {
  width: 100%;
}
.footer {
  position: absolute;
  background-color: #f9f7f7;
  width: 100%;
}

.router-div {
  min-height: 80vh;
}

.footer .main-footer{
  justify-content: space-around;
  color:black;
  padding:0;
  background-color:#dbe2ef;
}

.footer .column-1 {
  padding-top: 35px;
  padding-left: 30px;
  width: 25%;
}
.footer .column-1{
  padding-top:20px;
  padding-left:70px;
}
.footer .column-2 {
  display: flex;
  justify-content: center;
}
.footer .column-2 #logo-image{
  max-width: 100%;
  height: auto;
  max-height: 170px;
  padding-top: 15px;
}
.footer .column-3{
  padding-top: 20px;
  text-align:end;
  padding-right: 45px;
  padding-left: 5px;
}
.footer .footer-content {
  padding: 0px;
  margin: 0px;
}

.footer .footer-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer p{
  margin-top: 5px;
}
.footer .secondary-footer{
  justify-content: center;
  padding-top: 10px;
  background-color: #3f72af;
  color: white;
  height:40px;
}

.footer .heart {
  margin-left: 3px;
  margin-right: 3px;
}

.home input[type="text"] {
  border: none;
  background-color: none;
  outline: 0;
  font-size: 18px;
  width: 270px;
  padding-left: 10px;
}

.home input[type="text"]:focus {
  border: none;
  background-color: none;
  outline: 0;
}

.home .search-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../src/star.jpg");
  background-repeat: no-repeat;
  height: 60vh;
  width: 100%;
  background-size: cover;
  align-items: center;
  background-position: center;
}
.home .search-bar {
  background-color: white;
  width: max-content;
  border-radius: 5px;
}
.home #heading {
  margin: 2px;
  text-align: center;
}
.home .texts {
  color: white;
  text-align: center;
}
.home .sep {
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: purple;
  width: 40%;
  border-radius: 0px 25px 25px 0px;
  color: white;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.home .sep2{
  margin-left: auto; 
  margin-right: 0;
  border-radius: 25px 0px 0px 25px;
}
.home .separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
}

.home .separator::before,
.home .separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #000;
}

.home .separator:not(:empty)::before {
  margin-right: 0.25em;
}

.home .separator:not(:empty)::after {
  margin-left: 0.25em;
}
.home .septext {
  background-color: rgb(65, 65, 250);
  color: white;
  border-radius: 15px;
  padding:5px 40px 5px 40px;
}
.home .quotes{
  margin: 80px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.home .rules{
  font-family: 'Montserrat', sans-serif;
  margin: 40px;
}
.admin {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
}
.adminHeader {
  display: flex;
  flex-direction: row;
  background-color: #f9f7f7;
  color: black;
  padding: 4px;
}
.adminHeader > .MuiAvatar-root {
  margin: 5px;
  width: 60px;
  height: 60px;
}

.adminBody {
  justify-content: center;
  background-color: #f9f7f7;
  padding: 10px;
}

.cards {
  box-shadow: 2px 4px 5px 4px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.cardContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 8px;
}

.buttonAdmin {
  justify-content: center;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}
.buttonAdmin > .MuiButtonBase-root {
  margin: 4px;
  background-color: #112d4e;
}

@media only screen and (max-width: 600px) {
  .footer .column-1{
      text-align: center;
      padding: 0;
      padding-bottom: 10px;
  }
  .footer .column-3{
      text-align: center;
      padding:0;
  }
}