@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap');
.container {
    width: 100%;
}
.MuiButton-label{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.footer {
    position: absolute;
    background-color: #f9f7f7;
    width: 100%;
}

.router-div {
    min-height: 80vh;
}

.footer .contained{
  font-family: 'Roboto', 'sans-serif';
  font-weight:300;
}
.footer .main-footer{
  justify-content: space-around;
  color:white;
  padding:0;
  background-color:#148FD3;
}

.footer .column-1 {
    padding-top: 35px;
    padding-left: 30px;
    width: 25%;
}
.footer .column-1{
  padding-top:10px;
  padding-left:80px;
  text-align: center;
  display: flex;
  align-items: center;
}
.footer .column-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.footer .column-2 #logo-image{
  max-height: 150px;
  padding-top: 15px;

}
.footer .column-3{
  padding-top: 10px;
  justify-content: flex-end;
  padding-right: 80px;
  padding-left: 5px;
  display: flex;
  align-items: center;
  text-align: right;
}
.footer .footer-content {
    padding: 0px;
    margin: 0px;
}

.footer .footer-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer p{
  margin-top: 5px;
}
.footer .secondary-footer{
  justify-content: center;
  padding-top: 10px;
  background-color: #ffffff;
  color: black;
  height:40px;
}

.footer .heart {
    margin-left: 3px;
    margin-right: 3px;
}
.home .Grid-container{
  width:85%;
  margin:auto;
}
.home .MuiTypography-body2{
   font-family: 'Roboto', sans-serif;
 }

.home .MuiTypography-h5{
  font-family: 'Open Sans', sans-serif;
 }

.home input[type='text'] {
    border: none;
    background-color: none;
    outline: 0;
    font-size: 18px;
    width: 270px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
}

.home input[type='text']:focus {
    border: none;
    background-color: none;
    outline: 0;
}

.home .search-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../src/star.jpg');
    background-repeat: no-repeat;
    height: 60vh;
    width: 100%;
    background-size: cover;
    align-items: center;
    background-position: center;
}
.home .search-bar {
    background-color: white;
    width: max-content;
    border-radius: 5px;
}
.home #heading {
    margin: 2px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.home .texts {
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.home .sep {
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #148FD3;
  width: 40%;
  border-radius: 0px 25px 25px 0px;
  color: white;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: 'Roboto', 'sans-serif';
}
.home .sep2{
  margin-left: auto; 
  margin-right: 0;
  border-radius: 25px 0px 0px 25px;
}
.home .separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
  /* margin-bottom: 30px; */
  font-family: 'Open Sans', 'sans-serif';
  padding:100px 28px 30px 28px;
  width:85%;

}

.home .separator::before,
.home .separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #000;
}

.home .separator:not(:empty)::before {
  margin-right: 0.25em;
}

.home .separator:not(:empty)::after {
  margin-left: 0.25em;
}
.home .septext {
  background-color: #148FD3;
  color: white;
  border-radius: 15px;
  padding:5px 40px 5px 40px;
}
.home .quotes{
  margin: 120px 100px 150px 100px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #000000;
  opacity: 57%;
}

.home .rules{
  font-family: 'Roboto', sans-serif;
  margin:  auto;
  width:75%;
}
.home .rules #lorem{
  padding:30px 0px 0px 40px;
  text-align: left;
  margin-bottom: 200px;
}
.home h3{
  font-family: 'Open Sans', sans-serif;
}
.admin {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
}
.adminHeader {
  display: flex;
  flex-direction: row;
  background-color: #f9f7f7;
  color: black;
  padding: 4px;
}
.adminHeader > .MuiAvatar-root {
  margin: 5px;
  width: 60px;
  height: 60px;
}

.adminBody {
  justify-content: center;
  background-color: #f9f7f7;
  padding: 10px;
}

.cards {
  box-shadow: 2px 4px 5px 4px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.cardContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 8px;
}

.buttonAdmin {
  justify-content: center;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}
.buttonAdmin > .MuiButtonBase-root {
  margin: 4px;
  background-color: #112d4e;
}

@media only screen and (max-width: 600px) {
  .footer .column-1{
      text-align: center;
      justify-content: center;
      padding:20px 0px 10px 0px;
  }
  .footer .column-3{
      text-align: center;
      padding:10px 0px 0px 0px;
      justify-content: center;
  }
}


/* User_Profile Start */

.user_profile_page {
    margin: 0;
    padding: 0;
}

.user_profile_page .user_page {
    display: flex;
    flex-direction: row;
    margin: 2rem 4rem;
}

.user_profile_page .user_page .personal_info {
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.user_profile_page .user_page .personal_info .user_contact {
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    line-height: 1rem;
    font-size: 1.2rem;
}

.user_profile_page .user_page .personal_info .user_contact .edit_info_btn {
    border: none;
    font-size: 1rem;
    background-color: rgb(197, 197, 197);
    padding: 0.75rem 1.5rem;
    border-radius: 0.4rem;
    margin-top: 1rem;
    transition: all 0.5s linear;
}

.user_profile_page .user_page .personal_info .user_contact .edit_info_btn:hover {
    background-color: rgb(231, 229, 229);
}

.user_profile_page .user_page .personal_info::after {
    content: '';
    height: 100%;
    width: 0.25rem;
    background-color: rgba(24, 22, 22, 0.637);
    position: absolute;
    top: 0;
    right: -20%;
}
/* .user_profile_page .user_page .vl {
    border-left: 0.25rem solid rgba(8, 10, 8, 0.774);
    height: 70rem;
    margin: 0 3rem;
} */

.user_profile_page .user_page .main_info {
    flex-basis: 85%;
    margin-left: 5rem;
}

.user_profile_page .user_page .main_info .college_info {
    line-height: 1.5rem;
    text-align: left;
    margin-left: 4rem;
    font-size: 1.5rem;
}

.user_profile_page .user_page .main_info .active_user_items {
    margin-top: 3rem;
    line-height: 2rem;
    font-size: 1.2rem;
    width: 100%;
}

.user_profile_page .user_page .main_info .active_user_items .list_active_user_items_1 {
    background-color: #d4d4d4;
    display: flex;
    flex-direction: row;
    border-radius: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 4rem;
}

.user_profile_page
    .user_page
    .main_info
    .active_user_items
    .list_active_user_items_1
    .item_name_info {
    flex-basis: 45%;
    padding-left: 4rem;
}

.user_profile_page .user_page .main_info .active_user_items .list_active_user_items_1 .date {
    flex-basis: 55%;
    display: flex;
    flex-direction: row;
}

.user_profile_page .user_page .main_info .active_user_items .list_active_user_items_1 .date div {
    flex-basis: 50%;
}

/* User_Profie END */
