@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.container{
 width:100%;
}
.footer{
 position: absolute;   
 background-color:#f9f7f7;
 width: 100%;
}

.router-div{
    min-height: 80vh;
}
